# Ignore everything
*

# Allow directories
!data/
!models/
!src/
!utils/

# Allow files inside these directories
!data/**
!models/**
!src/**
!utils/**

# Allow core python files
!posenet_test.py
!train.py
!test.py

# Allow gitignore itself
!.gitignore

# Allow README.md
!README.md